body{
    margin: 0;
    background-color: rgb(38, 36, 36);
    font-family: "Roboto Mono";
    overflow: hidden;
}

@keyframes zoomIn {
    from{
        height: inherit;
        width: auto;
    }
    to{
        height: 100px;
        width: auto;
    }
}

@keyframes zoomOut {
    from{
        height: 100px;
        width: auto;
    }
    to{
        height: inherit;
        width: auto;
    }
}

nav{
    height: 70px;
    width: 100vw;
    background-color: rgb(110, 105, 105);
    align-items: center;
    display: flex;
    color: white;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

a{
    text-decoration: none;
    color: white;
}

#home{
    margin-left: 15px;
    font-size: 2rem;
}

#work{
    cursor: pointer;
    margin-right: 15px;
    font-size: 2rem;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
}

.centerDisplay{
    color: white;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.presentation{
    padding: 15px;
    font-size: 2rem;
}

.links{
    height: 80px;
    width: auto;
}

img{
    cursor: pointer;
}

#instagram{
    cursor: pointer;
    animation: zoomOut forwards 0.5s;
}

#instagram > img{
    height: inherit;
}

#instagram:hover{
    animation: zoomIn forwards 0.5s;
}


#github{
    height: inherit;
    cursor: pointer;
    animation: zoomOut forwards 0.5s;
}

#github > img{
    height: inherit;
}

#github:hover{
    animation: zoomIn forwards 0.5s;
}

#linkedin{
    height: inherit;
    cursor: pointer;
    animation: zoomOut forwards 0.5s;
}

#linkedin > img{
    height: inherit;
}

#linkedin:hover{
    animation: zoomIn forwards 0.5s;
}

.buttonHolder{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.btn{
    border-radius: 20px;
    background-color: grey;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.btn > a{
    color: black;
    font-size: 1rem;
}