body{
    margin: 0;
    background-color: rgb(38, 36, 36);
    font-family: "Roboto Mono";
    overflow: hidden;
}

nav{
    height: 70px;
    width: 100vw;
    background-color: rgb(110, 105, 105);
    align-items: center;
    display: flex;
    color: white;
    margin-bottom: 15px;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

a{
    text-decoration: none;
    color: white;
}

#home{
    margin-left: 15px;
    font-size: 2rem;
}

#work{
    margin-right: 15px;
    font-size: 2rem;
}

main{
    display: flex;
    height: 100vh;
    justify-content: space-around;
}

.work-square{
    display: flex;
    flex-flow: column;
    gap: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    justify-content: space-around;
    border-radius: 20px;
}

.project-title{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

.project-link{
    text-align: center;
}